*,
*::before,
*::after {
    box-sizing: border-box;
}

// ban

.ban:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "To be continue";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ban-just-once::before {
    content: "Only for this time";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.1;
    z-index: 105;
    font-size: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.P123-calcination {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    aspect-ratio: 1;
    z-index: 99;
    opacity: 0.5;
    transition: all 0.5s;

    &:hover {
        opacity: 1;
        transform-origin: left top;
        width: 100%;
    }
}
//
*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "DM Serif Text", "Noto Sans TC", "微軟正黑體", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    counter-reset: section img table alpha;
    overflow: hidden;
}

h1 {
    color: var(--font-color);
    font-size: 36px;
    line-height: 1.5;
    text-transform: capitalize;
}

h2 {
    font-size: 24px;
    line-height: 1.5;
}

h3 {
    font-size: 18px;
    line-height: 1.5;
}

p,
a {
    color: var(--font-color);
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-decoration: none;
}

p.en,
p.cn {
    line-height: 1.5;
    text-align: justify;
}

:root {
    --main-color: rgb(178, 27, 57);
    --bg-color2: rgb(10, 10, 10);
    --bg-color3: rgb(22, 22, 22);
    --bg-color4: rgb(28, 28, 28);
    --bg-color5: rgb(35, 35, 35);
    --bg-color6: rgb(57, 57, 57);
    --bg-color7: rgb(136, 136, 136);
    --font-color: rgb(255, 255, 255);
    --font-color-content: rgb(255, 255, 255);
}

// tool
.head-box,
.body-box {
    position: relative;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-auto {
    margin: auto;
}
// TODO: tool-grid
.grid {
    display: grid;
    & > .img-box {
        width: auto;
        height: auto;
    }
}
.grid-gap-20 {
    grid-gap: 20px;
}
.grid2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid12 {
    grid-template-rows: repeat(2, 1fr);
    & > .img-box {
        width: 50%;
        height: auto;
    }
}
.grid15 {
    grid-template-rows: repeat(5, 1fr);
}

#SEM-anchor .grid15 {
    grid-row: 20px;
    & .img-resp {
        height: minmax(150px, 100%);
    }
}

.grid3 {
    grid-template-columns: repeat(3, 1fr);
    & > .img-box {
        width: 100%;
        height: auto;
    }
}

.grid4 {
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    grid-template-rows: 0fr;
}
.grid5 {
    grid-template-columns: repeat(5, minmax(120px, 1fr));
    grid-template-rows: 0fr;
}
.grid6 {
    grid-template-columns: repeat(6, minmax(120px, 1fr));
    grid-template-rows: 0fr;
}
.grid-gap-0 {
    grid-gap: 0px;
}
.grid-transpose {
    grid-auto-flow: row;
}

.mask {
    overflow: hidden;
}

// tool-title
.title-box {
    position: relative;
}
.title-border {
    border-bottom: 3px solid var(--font-color);
    margin-bottom: 20px;
}

span.sub-title-border {
    font-size: 18px;
    color: var(--main-color);
    text-transform: none;
}

span.sup {
    font-size: 8px;
    vertical-align: top;
}

span.sub {
    font-size: 8px;
    vertical-align: bottom;
}

// TODO: tool-img
.img-box {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.img-shadow {
    box-shadow: 10px 10px var(--bg-color7);
}

.img-hover-shadow:hover {
    box-shadow: 0 0 10px var(--bg-color2);
}

.img-hover-zoomin:hover {
    position: relative;
    transform: scale(2.5);
    transition: transform 0.3s;
    z-index: 3;
}

.img-resp {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.img-resp-h {
    width: auto;
    height: min(5100%, 150px);
    vertical-align: bottom;
}

.img-box-border::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: var(--font-color) 3px solid;
}

.js-img-invert {
    filter: invert(1) contrast(2);
}

// tool-location

.top-15 {
    top: -15%;
}
// tool-sizing
.w-70 {
    width: 70%;
}
.w-50 {
    width: 50%;
}
.max80vh {
    max-height: 80vh;
}

.max50vw {
    max-width: 50vw;
}
.max60vw {
    max-width: 60vw;
}

.max80vw {
    max-width: 80vw;
}

.mtop10 {
    margin-top: 10px;
}

.img-box.padding-RL-40px {
    padding: 0 40px;
}

// tool-counter

.fig-count-en::after,
.fig-count-cn::after {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 2;

    counter-increment: img;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--font-color);
    text-align: justify;
}

.fig-count-en::after {
    content: "Figure " counter(img) ". " attr(caption-en) ".";
}

.fig-count-cn::after {
    content: "圖 " counter(img) "、" attr(caption-cn) "。";
}

.fig-count-alpha {
    counter-set: alpha;

    & > *::after {
        counter-increment: alpha;
        content: "(" counter(alpha, lower-alpha) ")";
        position: absolute;
        color: var(--font-color);
        top: 0;
        left: 0;
        margin: 5px;
        z-index: 2;
    }
}

.fig-count-alpha-grid {
    counter-set: alpha;

    & .white-protect::after {
        counter-increment: alpha;
        content: "(" counter(alpha, lower-alpha) ")";
        position: absolute;
        color: var(--font-color);
        top: 0;
        left: 0;
        margin: 5px;
    }
}

.fig-count-left-20px .white-protect::after {
    left: 20px;
}
.fig-count-left-35px .white-protect::after {
    left: 35px;
}
.fig-count-alpha-grid .fig-count-white::after {
    color: #fff;
}
.fig-count-immersion-day-sem-only::before {
    content: attr(immersion);
    position: absolute;
    color: #fff;
    left: 0;
    bottom: 0;
    margin: 5px;
}
.fig-count-triangle .img-box {
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 50px solid #000;
        border-right: 50px solid transparent;
    }
    &::after {
        color: #fff;
    }
}

// TODO: table tool
table {
    position: relative;
    margin-top: 5%;
    color: var(--font-color);
    line-height: 2;
    border-bottom: var(--font-color) 2px solid;
    thead {
        border-bottom: var(--font-color) 2px solid;
    }
}

.font-12px,
.font-12px > * {
    font-size: 12px;
}

.table-count-cn::before,
.table-count-en::before {
    counter-increment: table;
    position: absolute;
    top: -30px;

    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-count-en::before {
    content: "Table " counter(table) ". " attr(caption-en) ".";
}

.table-count-cn::before {
    content: "表 " counter(table) "、" attr(caption-cn) "。";
}

.reference {
    counter-set: ref-count;
}

.ref-count::after {
    counter-increment: ref-count;
    content: counter(ref-count);
}

// icon
.icon > a,
.icon > div {
    display: block;
    background: url(../images/icon.png) no-repeat;
    width: 30px;
    height: 30px;
}

span > .icon-list {
    display: none;
}

a.icon-toggle {
    background-position-y: -120px;
    transition: transform 0.5s;
}

a.icon-computer {
    background-position-y: -30px;
}

a.icon-ppt {
    background-position-y: -60px;
}

a.icon-setting {
    background-position-y: -150px;
    transform: rotate(0);
    transition: transform 0.5s;
    &:hover {
        transform: rotate(72deg);
    }
}

a.icon-sun {
    background-position-y: -180px;
}

a.icon-moon {
    background-position-y: -210px;
}

a.icon-language {
    background-position-y: -270px;
}

// immersion
.immersion-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: var(--bg-color2);
    color: var(--font-color);
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.8;
}

// section-scroll
.scroll-container {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: hidden auto;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;
    background-color: var(--bg-color6);
    scroll-snap-align: start;
}

// TODO: navegation
nav {
    position: fixed;
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    transition: background-color 0.5s, opacity 0.5s;
    z-index: 99;
    &:hover {
        background-color: var(--bg-color3);
        opacity: 1;
    }
}

// nav-icon
.nav-icon {
    position: relative;
    padding: 10px;
}
.nav-icon:hover .setting-nav-ls {
    display: flex;
}
.setting-nav-ls {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0;
}
.setting-nav-item {
    padding: 10px;
    animation: slidein 0.3s forwards;
    opacity: 0;
    &:nth-child(2) {
        animation-delay: 0.1s;
    }
    &:nth-child(3) {
        animation-delay: 0.2s;
    }
}
// nav-ls
.nav-ls {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

// nav-item
.nav-item {
    position: relative;
    opacity: 0.1;
    flex: 1;
    text-align: center;
    &:hover {
        opacity: 0.8;
    }

    a {
        display: block;
        text-transform: capitalize;
        line-height: 2;

        &::after {
            content: "";
            display: block;
            margin: 2px auto 0;
            width: 0%;
            height: 2px;
            background-color: var(--font-color);
            transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }

    &:hover > a::after {
        width: 40%;
    }
}

.nav-item:hover,
.nav-icon:hover {
    .sub-nav-ls {
        display: flex;
    }
    .sub-nav-item {
        display: flex;
        animation: 0.5s slidein forwards;
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
        a {
            display: block;
        }
    }
}

.sub-nav-ls {
    display: none;
    position: absolute;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    left: 0;
    width: 50%;
}

.sub-nav-item,
.sub-sub-nav-item {
    height: 36px;
}
// sub-sub-nav-ls

.sub-sub-nav-ls {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    & > li {
        background-color: var(--bg-color5);
    }
}

.sub-nav-item {
    position: relative;
    padding: 5px 5px 5px 10px;
    transition: all 0.2s;
    opacity: 0;
    width: 100%;

    &:hover {
        background-color: var(--main-color);
        color: var(--main-color);
        width: 100%;
    }

    &:hover > .sub-sub-nav-ls {
        display: flex;
        flex-direction: column;
    }

    &:hover .sub-sub-nav-item {
        animation: 0.5s slidein forwards;
        &:nth-child(2) {
            animation-delay: 0.1s;
        }
        &:nth-child(3) {
            animation-delay: 0.2s;
        }
        &:nth-child(4) {
            animation-delay: 0.3s;
        }
        &:nth-child(5) {
            animation-delay: 0.4s;
        }
        &:nth-child(6) {
            animation-delay: 0.5s;
        }
        &:nth-child(7) {
            animation-delay: 0.6s;
        }
        &:nth-child(8) {
            animation-delay: 0.7s;
        }
    }
}
.sub-sub-nav-item {
    opacity: 0;
    padding: 0 0 0 5px;
    &:hover {
        background-color: var(--main-color);
    }
}

// setting

.setting-box {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: var(--font-color) solid 1px;
}

// TODO: ppt

section.ppt {
    padding: 5vh 10vw 5vh;
}

section.page-count::after {
    position: absolute;
    font-size: 24px;
    right: 5%;
    bottom: 5%;
    counter-increment: section;
    content: counter(section);
    color: var(--font-color);
}

// TODO: homepage
.homepage {
    position: relative;
    overflow: hidden;

    .head-box {
        top: 10%;
        width: 100%;
        overflow: auto;
        letter-spacing: 1px;
    }

    h2 {
        color: var(--main-color);
    }

    h3.date {
        position: absolute;
        bottom: 10%;
        color: var(--font-color);
    }
}
h1.topic {
    position: relative;
    z-index: 1;
    ul {
        margin-top: 16px;
    }
    li {
        font-size: 24px;
    }
}
.presenter {
    position: absolute;
    bottom: 25%;
    line-height: 1.5;
    font-size: 18px;
    .font-size-24px {
        font-size: 24px;
        line-height: 2;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}
.img-homepage {
    position: absolute;
    bottom: -100%;
    left: -65%;
    transform: rotate(0);
    transform-origin: 50% 50%;
    transition: transform 0.5s;
}
.spray-dryer {
    position: absolute;
    right: -5%;
    bottom: 0%;
    max-width: 1000px;
    width: 40%;
    aspect-ratio: 1;
    transform-origin: right bottom;
}

// TODO: outline
.outline-ls {
    list-style: disc;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 1.5;
    color: var(--font-color);
}

// TODO: introduction

.head-box {
    margin-bottom: 40px;

    .two-line-decoration {
        padding: 0 50px;
        text-transform: none;

        &::before,
        &::after {
            content: "";
            width: 2px;
            height: 15px;
            margin: 0 100px;
            background-color: var(--font-color);
        }
    }
}

.size-Oldage {
    width: 100%;
}

// TODO: literature review
.vertical-line {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 80%;
}
.bg-color {
    background-color: var(--font-color);
}

.vertical-timeLine-ls {
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 100%;
    left: 0;

    display: flex;
    justify-items: right;
    justify-content: right;
}

.vertical-timeLine-item {
    position: absolute;
    color: var(--font-color-content);
    width: 50%;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    flex-direction: column;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--font-color);
    }

    &:nth-child(odd) {
        left: 0;
        padding-right: 40px;
        align-items: end;

        &::after {
            right: -6px;
        }

        ul {
            align-items: end;
            padding-right: 20px;
            margin-right: 10px;
            border-right: var(--font-color) 1px dotted;
        }
    }

    &:nth-child(even) {
        right: 0;
        top: 12%;
        padding-left: 40px;

        &::after {
            left: -6px;
            align-items: start;
        }

        .time .year {
            position: relative;
            order: 1;
        }

        ul {
            align-items: start;
            padding-left: 20px;
            margin-left: 10px;
            border-left: var(--font-color) 1px dotted;
        }
    }

    .time {
        margin-bottom: 12px;
        width: fit-content;

        .title {
            color: var(--main-color);
            font-size: 24px;
            margin: 0 5px;
        }

        .year {
            font-size: 48px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: fit-content;

        li {
            font-size: 24px;
            margin: 3% 0 0 0;
            width: fit-content;
        }

        .mtop15 {
            margin-top: 15%;
        }
    }
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.gradiant {
    background-image: linear-gradient(var(--font-color) 30%, var(--bg-color6) 90%);
}

.table-style {
    color: var(--font-color);
    width: 100%;
    font-size: 14px;
    line-height: 1.5;

    tr {
        margin: 0;
        display: flex;
        flex-wrap: nowrap;

        td {
            width: 20%;
            height: 36px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    thead {
        border-bottom: solid 1px var(--font-color);
        padding: 10px;
        margin-bottom: 20px;

        td {
            height: 60px;
            justify-content: center;
        }
    }

    tbody {
        &:last-child {
            border-bottom: solid 1px var(--font-color);
        }
    }

    .tr-img td {
        height: 200px;
        justify-content: center;
    }
}

// TODO: experiment
.size-flowchart {
    width: 60vw;
    height: auto;
}

// TODO: results
.results {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}
// TODO: conclusion

.conclusion-ls {
    list-style: disc;
    font-size: 30px;
    line-height: 2;
    color: var(--font-color);
    & span {
        color: var(--main-color);
    }
}

// TODO: reference
a.ref {
    font-size: 8px;
    vertical-align: super;

    &:hover {
        text-decoration: solid;
    }

    &::before {
        content: "[";
    }

    &::after {
        content: "]";
    }
}

.reference {
    display: flex;
    flex-direction: column;
    justify-content: start;
    column-gap: 20px;
    overflow: hidden;

    h3 {
        color: var(--font-color);
        display: flex;
        margin-bottom: 50px;
    }

    .search-input {
        margin-left: 50px;
    }

    .head-box {
        overflow-y: scroll;
    }

    .body-box {
        max-width: 100%;
    }
}

.serch-box {
    background-color: var(--bg-color6);
    position: sticky;
    top: 0;
}

.reference-table thead {
    position: sticky;
    top: 30px;
}

.reference-table {
    color: var(--font-color);
    line-height: 30px;

    thead {
        background-color: var(--bg-color6);
        border-top: solid var(--font-color) 1px;
        border-bottom: solid var(--font-color) 1px;
        padding: 5px;
    }

    tbody {
        scroll-snap-type: y mandatory;
    }

    tr {
        height: 30px;
        scroll-snap-align: start;
    }

    th,
    td {
        padding: 0 5px;
    }
}

.literature-library {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.literature-library > embed {
    background-color: #fff;
    width: 100%;
    height: 80vh;
    border-radius: 5px;
}

.search-input {
    width: 300px;
}

// img-library
.img-L-Hench::after {
    display: block;
    width: 194px;
    height: 259px;
}

// layout type

.type1 {
    display: flex;
    flex-direction: row;

    .head-box {
        width: 60vw;
    }

    .body-box {
        width: 40vw;
    }
}

.type2 {
    display: flex;
    flex-direction: column;

    .head-box,
    .body-box {
        width: 100%;
    }
}

section.type3 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    padding: 20vh 20vw 10vh;
    position: relative;

    h1 {
        vertical-align: bottom;
    }

    .head-box,
    .body-box {
        display: flex;
        gap: 20px;

        .inner-box {
            padding: 0 5%;
        }
    }
}

// js

.nav-ls .js-click {
    opacity: 1;

    > a {
        font-weight: 600;
        color: var(--main-color);

        &::after {
            background-color: var(--main-color);
        }
    }
}
.js-data-container-close {
    height: 40px;
    border-radius: 20px;
    overflow: hidden;

    .icon-toggle {
        transform: rotate(-180deg);
    }

    .box-header {
        border-radius: 20px;
    }
}

.js-cnange-language,
.js-change-white {
    display: none;
}

.js-change-background,
.js-cnange-language {
    color: var(--main-color);
}

.js-icon-bright-mode a.icon {
    background-position-x: 0;
}

.js-icon-white-mode a {
    background-position-x: -30px;
}

.js-reference-select > td {
    background-color: var(--bg-color7);
}

.literature-library > embed.js-reference-show {
    display: block;
}

.js-img-white-mode {
    transform: translate(0);

    & > img {
        transform: translate(-50%);
    }
}

.js-white-website {
    transform: rotate(0);
}

.js-white-ppt {
    transform: rotateY(180deg);
}

.js-dark-website {
    transform: rotate(-90deg);
}

.js-dark-ppt {
    transform: rotate(-90deg) rotateY(180deg);
}

// TODO: RWD

@media screen and (max-width: 600px) {
    // TODO: RWD-font
    h1,
    h2,
    p,
    a,
    ul,
    li,
    span {
        font-size: 18px;
    }

    h1.topic li {
        font-size: 8px;
    }

    // TODO: RWD-navegation
    nav {
        position: relative;
    }
    .nav-ls {
        flex-direction: column;
        top: 0;
        position: absolute;
        background-color: var(--main-color);
    }
}

// TODO: animate
@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
