*,
*::before,
*::after {
    box-sizing: border-box;
}

*::-webkit-scrollbar-button {
    display: none;
}

body {
    font-family: 'DM Serif Text', 'Noto Sans TC', "微軟正黑體", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    counter-reset: section img;
    color: var(--bg-color7);
    overflow: hidden;
}

.en {
    text-transform: capitalize;
}

h1 {
    color: var(--font-color);
    font-size: 36px;
    line-height: 1.5;
}

h2 {
    font-size: 24px;
    line-height: 1.5;
}

h3 {
    font-size: 18px;
    line-height: 1.5;
}

p,
a {
    color: var(--font-color);
    font-size: 16px;
    line-height: 1.3;
    text-decoration: none;
}

:root {
    --bg-color1: rgb(178, 27, 57);
    --bg-color2: rgb(10, 10, 10);
    --bg-color3: rgb(22, 22, 22);
    --bg-color4: rgb(28, 28, 28);
    --bg-color5: rgb(35, 35, 35);
    --bg-color6: rgb(57, 57, 57);
    --bg-color7: rgb(255, 255, 255);
    --font-color: rgb(255, 255, 255);
}

// tool
.head-box,
.body-box {
    position: relative;
}

.grid {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    &>.img-box {
        width: auto;
        height: auto;
    }
}

.img-resp {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.img-box {
    position: relative;
}

.img-box-border::after {
    transform: translate(0, -100%);
    position: absolute;
    content: "";
    border: #fff 3px solid;
}

.img-filter {
    img {
        opacity: .2;
        transition: opacity .2s;
    }

    &:hover img {
        opacity: .8;
    }
}

.fig-count::after {
    counter-increment: img;
    content: "Fig " counter(img) ". " attr(caption) ".";
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--font-color);
}

// .table-count::after {
//     counter-increment: table;
//     content: "Table " counter(table) ". " attr(caption);
//     font-size: 16px;
//     line-height: 1.5;
//     letter-spacing: 1px;
// }

// icon
.icon>a,
.icon>div {
    display: block;
    background: url(../images/icon.png) no-repeat;
    width: 30px;
    height: 30px;
}

a.icon-toggle {
    background-position-y: -120px;
    transition: transform .5s;
}

a.icon-computer {
    background-position-y: -30px;
}

a.icon-ppt {
    background-position-y: -60px;
}

a.icon-setting {
    background-position-y: -150px;
}

a.icon-sun {
    background-position-y: -180px;
}

a.icon-moon {
    background-position-y: -210px;
}

a.icon-language {
    background-position-y: -270px;
}

// section-scroll
.scroll-container {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: hidden auto;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;
    background-color: var(--bg-color6);
    scroll-snap-align: start;
}

// navegation
nav {
    position: fixed;
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    transition: background-color .5s;
    z-index: 99;

    &:hover {
        background-color: var(--bg-color3);

        li>ul {
            background-color: var(--bg-color3);
        }
    }
}


.nav-ls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.nav-item {
    opacity: 0.4;

    // js-click
    &:hover {
        opacity: 0.8;
    }

    a {
        display: block;
        text-transform: capitalize;
        line-height: 2;

        &::after {
            content: "";
            display: block;
            margin: 2px auto 0;
            width: 0%;
            height: 2px;
            background-color: var(--font-color);
            transition: width .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }

    &:hover>a::after {
        width: 80%;
    }
}

// sub-nav
.setting-nav-ls {
    display: flex;
    .setting-nav-item {
        padding: 10px;
    }
}
.sub-nav-ls {
    display: none;
    position: absolute;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    li {
        padding: 5px 5px 5px 10px;
        background-color: transparent;
        transition: all .2s;

        &:hover {
            background-color: var(--bg-color3);
        }
    }
}

.nav-item:hover,
.nav-icon:hover {
    .sub-nav-ls {
        display: flex;

        li {
            a {
                display: block;
            }

            &:hover {
                background-color: var(--bg-color5);
            }
        }
    }
}

// setting 

.setting-box {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: var(--font-color) solid 1px;
}

// ppt
section.ppt {
    padding: 10vh 10vw 5vh;
}

section.page-count::after {
    position: absolute;
    font-size: 24px;
    right: 5%;
    bottom: 5%;
    counter-increment: section;
    content: counter(section);
}

.homepage {
    .head-box {
        top: 10%;
        width: 50%;
        overflow: auto;
    }

    h2 {
        color: var(--bg-color1);
    }

    h3.date {
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}

// outline
.outline {
    display: flex;


    .head-box {
        position: relative;
        top: 5vh;
        width: 60%;
        height: 80vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;

        div {
            position: relative;
            margin: 0 15px 0 0;
            padding-bottom: 5%;
            width: 20%;
            height: 100%;
            border-radius: 5px;
            transition: width .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            overflow: hidden;

            &:hover {
                width: 60%;
            }

            h1 {
                text-transform: capitalize;
                position: absolute;
                transform-origin: left;
                bottom: 30%;
                z-index: 1;

                span.en {
                    transform: rotate(10deg) translate(30%, 80%);
                }

                span.cn {
                    transform: rotate(270deg) translate(0%, 50%);
                }
            }

        }
    }
}

.body-box {
    width: 40%;
    display: flex;

    h1 {
        margin: auto;
        text-transform: capitalize;
    }
}


.grid {
    display: grid;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
}

// results
.results {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.data-container {
    width: 100%;
    position: relative;
    transition: height .5s;
}

.box-header {
    position: absolute;
    display: flex;
    background-color: var(--bg-color2);
    width: 100%;
    height: 40px;
    padding: 5px 0 0 15px;
    border-radius: 20px 20px 0 0;
    z-index: 1;
    transition: border-radius 1s;

    &::after {
        content: attr(title);
        text-transform: capitalize;
        line-height: 30px;
        font-size: 18px;
        color: var(--font-color);
    }
}

.data-box {
    background-color: var(--bg-color5);
    padding: 60px 2% 2%;
    border-radius: 20px;
    width: 100%;
}

.left-box,
.right-box {
    display: block;
    width: 100%;

    &>div {
        margin-bottom: 20px;
    }
}

// img-library
.img-L-Hench::after {
    display: block;
    width: 194px;
    height: 259px;
}


// js

.nav-ls .js-click {
    opacity: 1;

    >a {
        font-weight: 600;
        color: var(--bg-color1);

        &::after {
            background-color: var(--bg-color1);
        }
    }
}

.js-data-container-close {
    height: 40px;
    border-radius: 20px;
    overflow: hidden;

    .icon-toggle {
        transform: rotate(-180deg);
    }

    .box-header {
        border-radius: 20px;
    }
}

.js-cnange-language {
    display: none;
}

.js-change-background,
.js-cnange-language {
    color: var(--bg-color1);
}

.js-icon-bright-mode a.icon {
    background-position-x: 0;
}

.js-icon-dark-mode a {
    background-position-x: -30px;
}